		body{
			margin: 30px;
			padding: 25px;
			font-family: times new roman;
			line-height: 30px;
			font-size: 18px;
		}
		p{
			font-family: courier new;
			font-weight: lighter;
		}
		span{
			cursor: pointer;
			display:inline-block;
			transform:scale(1);
			transition: all 70s ease;
			text-decoration: underline;
			transition-delay: 200s;
		}
		span:hover{
			 color: black;
			 font-family: courier new;
			 font-weight: bolder;
			 transform:scale(3);
			 transition: all 0.5s linear;
		}
		body{
 			background-image: linear-gradient(white, #78AB46, #278a4e);
		}
		h1{
			text-align: center;
			font-family: helvetica;
			font-weight: lighter;
		}
		h2{
			text-align: center;
			font-family: helvetica;
			font-weight: lighter;
		}
		.credit{
			font-family: helvetica;
			font-weight: lighter;
			font-size: 12px;
		}
		
		/*button{
			text-decoration: none;
			background-color: white;
			border-radius: 50%;
			width: 70px;
			height: 70px;
			color: black;
			font-size: 50px;
			left: 50%;
			top: 20%;
			position: relative;
		}*/
		.flowers{
			text-align: center;
			font-size: 30px;
			color: white;
		}
		@media screen and (min-width: 768px){
			span{
			cursor: pointer;
			display:inline-block;
			transform:scale(1);
			transition: all 70s ease;
			text-decoration: none;
			transition-delay: 200s;
			}
			span:hover{
			 color: black;
			 font-family: courier new;
			 font-weight: bolder;
			 transform:scale(3);
			 transition: all 0.5s linear;
			}
		}