		body{
			margin: 30px;
			padding: 25px;
			font-family: times new roman;
			line-height: 30px;
			font-size: 18px;
		}
		p{
			font-family: helvetica;
			font-weight: lighter;
		}
		span{
			cursor: pointer;
			display:inline-block;
			transform:scale(1);
			transition: all 70s ease;
			text-decoration: underline;
			transition-delay: 200s;
		}
		span:hover{
			 color: black;
			 font-family: helvetica;
			 font-weight: bolder;
			 transform:scale(3);
			 transition: all 0.5s linear;
		}
		body{
 			background-image: linear-gradient(white, #78AB46, #278a4e);
		}
		h1{
			text-align: center;
			font-family: helvetica;
			font-weight: bolder;
		}
		h2{
			text-align: center;
			font-family: helvetica;
			font-weight: bolder;
		}
		.credit{
			font-family: helvetica;
			font-weight: lighter;
			font-size: 12px;
		}
		.button{
			 border: dashed;
			 color: white;
			 padding: 1px 3px;
			 text-align: center;
			 text-decoration: none;
			 display: inline-block;
			 margin: 4px 2px;
			 cursor: pointer;
			 float: right;
		}
		.flowers{
			text-align: center;
			font-size: 30px;
		}
		@media screen and (min-width: 768px){
			span{
			cursor: pointer;
			display:inline-block;
			transform:scale(1);
			transition: all 70s ease;
			text-decoration: none;
			transition-delay: 200s;
			}
			span:hover{
			 color: black;
			 font-family: helvetica;
			 font-weight: bolder;
			 transform:scale(3);
			 transition: all 0.5s linear;
			}
		}