body{
    background-color: limegreen;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: helvetica;
    font-weight: lighter;
    cursor: pointer;
}

.container{
    display: flex;
    padding: 10px;
    padding-bottom: 20px;
    flex-direction: column;
}
    	
.left{
    width: 400px;
    height: 200px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
}
    	
.caption{
    padding: 8px;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    color: black; 
}

.pushleft{
    left: 10px;
    padding: 8px;
    margin: 10px;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    color: black; 
}
        
.pushmoreleft{
    left: 20px;
    padding: 8px;
    margin: 10px;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    color: black;
}
    	
.pushmostleft{
    left: 30px;
    padding: 8px;
    margin: 10px;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    color: black;
    box-shadow: 6px 4px;
}

p{
    font-family: impact;
    font-size: 32px;
    color: black;
}

.right{
    width: 400px;
    height: 200px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.box{
    padding: 8px;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
}

.pushright{
    left: 10px;
    padding: 8px;
    margin: 10px;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
}

.pushmoreright{
    left: 20px;
    padding: 8px;
    margin: 10px;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
}

.pushmostright{
    left: 30px;
    padding: 8px;
    margin: 10px;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 4px;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.container2{
    display: flex;
    padding-top: 8px;
    justify-content: center;
    flex-direction: row;
}    	
.buttons{
    display: flex;
    padding: 15px;
    justify-content: center;    
} 

.show{
    position: absolute;
    display: block;
}	
       	
#button{
    background-color: black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
	border: solid;
    border-color: white;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 12px 40px;
	cursor: pointer;
	font-family: helvetica;
    font-weight: lighter;
}

@media screen and (min-width: 768px){
    .title:hover{
        color: white;
        cursor: pointer;
    }
    h1{
        font-size: 46px;
    }
    .container{
        display: flex;
        padding-bottom: 20px;
        /*align-items: center;
        justify-content: center;*/
        flex-wrap: wrap;
        margin-left: 27%;
    }
    .left{
        width: 550px;
        height: 230px;
    }
    .caption{
        width: 550px;
        height: 230px;
    }
    .pushleft{
        width: 550px;
        height: 230px;
    }
            
    .pushmoreleft{
        width: 550px;
        height: 230px;
    }
            
    .pushmostleft{
        width: 550px;
        height: 230px;
    }
    p{
        font-family: impact;
        font-size: 40px;
    }
    .right{
        width: 550px;
        height: 230px;
    }
    .box{
        width: 550px;
        height: 230px;
    }
    .pushright{
        width: 550px;
        height: 230px;
    }

    .pushmoreright{
        width: 550px;
        height: 230px;
    }

    .pushmostright{
        width: 550px;
        height: 230px;
    }
    
    #button{
        background-color: black;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: solid;
        border-color: white;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 15px 60px;
        cursor: pointer;
        font-family: helvetica;
        font-weight: lighter;
    }

}
